Pythonimplementation==CPython
Pythonversion==3.11.7
IPythonversion==8.12.3

condaenvironment==base

seaborn==0.12.2
numpy==1.26.4
plotly==6.0.1
Bio==1.84
matplotlib==3.8.0
watermark==2.5.0
kaleido==0.2.1
scipy==1.11.4
pyorthoani==0.7.0
pandas==2.1.4

