Pythonimplementation==CPython
Pythonversion==3.11.7
IPythonversion==8.12.3

condaenvironment==base

matplotlib==3.8.0
numpy==1.26.4
sklearn==1.2.2
Bio==1.84
seaborn==0.12.2
pyorthoani==0.7.0
pandas==2.1.4
watermark==2.5.0
plotly==6.0.1

